.s-icon-btn{
    width: 60px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.s-icon-user{
     background-image: url('/assets/user.png');
}
.s-icon-pass{
     background-image: url('/assets/pass.png');
}

.s-submit:hover{
    transition: all ease-in-out .2s;
}